:root{
  --dark: hsl(0 0% 5%);
  --background: hsl(0 0% 10%);
  --text: hsl(0 0% 85%);
  --highlight: hsl(0 0% 95%);
  --dimmed: hsl(0 0% 40%);
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h1 { color: var(--highlight); }